<%= form_for(setup_user(user)) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName %>
  </div>

  <div class="field">
    <%= form.label :imageUrl %>
    <%= form.text_field :imageUrl %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <%= form.fields_for :profile do |ff| %>
  <div>
    <%= ff.label :gender %>
    <%= ff.text_field :gender %>
  </div>
<% end %>
    <%= form.fields_for :todo do |ff| %>
  <div>
    <%= ff.hidden_field :user_id %>
  </div>
<% end %>

    <%= form.fields_for :daily do |ff| %>
  <div>
    <%= ff.hidden_field :user_id %>
  </div>
<% end %>


    <%= form.submit %>

<% end %>


