<p id="notice"><%= notice %></p>

<p>
  <strong>Monday:</strong>
  <%= @days_of_the_week.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @days_of_the_week.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @days_of_the_week.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @days_of_the_week.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @days_of_the_week.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @days_of_the_week.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @days_of_the_week.sunday %>
</p>

<%= link_to 'Edit', edit_days_of_the_week_path(@days_of_the_week) %> |
<%= link_to 'Back', days_of_the_weeks_path %>
